# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Stackdumps from runtime errors
*.stackdump

# Assembly code created by asc
*.asm

# GAS code from GNU compiler tests
*.s

# Journal entries for school project
/journals

# CMake build crap
/cmake-build-debug

# VS Code data
/.vscode

# CLion
/.idea